Pillow==2.6.1
PyYAML==3.11
Pygments==2.0.1
Pyste==0.9.10
RPi.GPIO==0.6.3
RTIMULib==7.2.1
argparse==1.2.1
catkin-pkg==0.2.10
catkin-pkg-modules==0.4.12
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
coverage==3.7.1
cryptography==0.6.1
decorator==3.4.0
docutils==0.12
ecdsa==0.11
empy==3.3.2
html5lib==0.999
mock==1.0.1
ndg-httpsclient==0.3.2
netifaces==0.10.4
nose==1.3.4
numpy==1.8.2
paramiko==1.15.1
pigpio==1.30
ply==3.4
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pygobject==3.14.0
pylsl==1.12.2
pyparsing==2.0.3
python-dateutil==2.2
python-emotiv==0.1
pyusb==1.0.2
pyxdg==0.25
requests==2.4.3
roman==2.0.0
rosdep==0.11.4
rosdistro==0.4.4
rosdistro-modules==0.7.4
rosinstall==0.7.7
rosinstall-generator==0.1.11
rospkg==1.0.38
rospkg-modules==1.1.9
scipy==0.14.0
sense-hat==2.2.0
six==1.8.0
urllib3==1.9.1
vcstools==0.1.38
wheel==0.24.0
wsgiref==0.1.2
wstool==0.1.12
